<div class="jumbotron">
    <h1 class="display-4 text-center">Search for Repositories</h1>
    <hr class="my-4">
    <br>

    <input type="text" [(ngModel)]='repos'
    name='repo'(keyup)='Profile()' class="Search">
</form>

<br>
<br>
<div style="font-family: Arial, Helvetica, sans-serif;" class="card info" *ngIf="profile.public_repos">
    <div style="text-align: center;  background-color: #04AA6D;" class="card-header">
        Repositories
    </div>
    <div style="text-align: center;" class="card-body " *ngFor="let repo of repos">
        
                <h3>{{repo.name}}</h3>
                <p>Created: {{repo.created_at | slice :0 :7 }}</p>
                <p>Language Used: {{repo.language}}</p>
                <p>{{repo.description}}</p>
                <button><a style="color: black;" href="{{repo.html_url}}" target="_blank" >GitHub</a></button>

                <hr>
            
    </div>

</div>

  </div>
